* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: #1f7ccd;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.3rem 5%;
  border-bottom: 1px solid #aaa;
}

.navbar-nav .logo a {
  color: var(--primary);
  font-size: 2rem;
  font-weight: 700;
}

.navbar-nav .nav-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navbar-nav .nav-list .nav-link {
  color: #000;
}

.active-menu {
  color: #1f7ccd;
}

.container {
  padding: 0 5%;
}

/* index php start */
.home {
  width: 100%;
  display: flex;
  align-items: center;
  height: 60dvh;
  background: #f5f5f5;
}

.home h1 {
  font-size: 2rem;
}

.home h1 span {
  color: var(--primary);
}
/* index php end */

/* list kegiatan */
.list-kegiatan {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 3rem 5%;
}

.list-kegiatan .card {
  display: flex;
  width: 100%;
  border: 1px solid var(--primary);
  margin-bottom: 1.5rem;
  padding: 1rem;
  gap: 1rem;
}

.list-kegiatan .card .list {
  flex: 1 1 calc(85% - 1rem);
}

.list-kegiatan .card .list .tgl {
  margin: 0.5rem 0;
}

.list-kegiatan .card .list .deskripsi {
  margin: 0.5rem 0;
  background: #f5f5f5;
  padding: 0.6rem;
  flex: 1 1 15%;
}

.list-kegiatan .card .list .foot {
  display: flex;
  justify-content: space-between;
}

/* kegiatan php end */
.row-kegiatan {
  display: grid;
  grid-template-columns: 35% calc(65% - 2rem);
  gap: 2rem;
  margin: 4rem 0;
}

.row-kegiatan .heading {
  margin-bottom: 1.5rem;
  font-size: 1.7rem;
  color: var(--primary);
}

.row-kegiatan .right-col .card {
  display: flex;
  width: 100%;
  border: 1px solid var(--primary);
  margin-bottom: 1.5rem;
  padding: 1rem;
  gap: 1rem;
}

.row-kegiatan .right-col .card .list {
  flex: 1 1 calc(85% - 1rem);
}

.row-kegiatan .right-col .card .list .tgl {
  margin: 0.5rem 0;
}

.row-kegiatan .right-col .card .list .deskripsi {
  margin: 0.5rem 0;
  background: #f5f5f5;
  padding: 0.6rem;
  flex: 1 1 15%;
}

.row-kegiatan .right-col .card .aksi {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.row-kegiatan .right-col .card .aksi form {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background: #f5f5f5;
  padding: 0.5rem;
}

.row-kegiatan .right-col .card .aksi form select {
  display: inline-block;
  padding: 0.2rem;
  width: 100%;
}

.status_belum {
  background: #f2ff00;
  color: #000;
  display: inline-block;
  padding: 0.25rem;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 2px;
}

.status_terlaksana {
  background: #0cdc4b;
  color: #fff;
  display: inline-block;
  padding: 0.25rem;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 2px;
}

.status_gagal {
  background: #f81717;
  color: #fff;
  display: inline-block;
  padding: 0.25rem;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 2px;
}

/* kegiatan php end */

/* button style */
.btn-logout {
  display: inline-block;
  padding: 0.6rem;
  background: #f81717;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-submit {
  display: inline-block;
  padding: 0.6rem;
  background: transparent;
  color: #000;
  border-radius: 4px;
  border: 1px solid var(--primary);
  cursor: pointer;
}

.btn-submit:hover {
  background: var(--primary);
  color: #fff;
}

/* badge style */
.badge-hapus {
  display: inline-block;
  padding: 0.3rem;
  background: #f81717;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  border-radius: 4px;
  cursor: pointer;
}

.badge-ubah {
  display: inline-block;
  padding: 0.2rem;
  background: #f2ff00;
  color: #000;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

/* style input */
.group-input {
  display: block;
  margin-bottom: 1rem;
}

.group-input label {
  display: block;
  margin-bottom: 0.3rem;
}

.group-input input {
  display: inline-block;
  padding: 0.65rem 0.8rem;
  outline: none;
  border: 1px solid #000;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: 1px;
}

.group-input input:focus {
  border: 1px solid var(--primary);
}

.group-input select {
  display: inline-block;
  padding: 0.65rem 0.8rem;
  outline: none;
  border: 1px solid #000;
  width: 100%;
  font-size: 0.95rem;
  letter-spacing: 1px;
}

.group-input select:focus {
  border: 1px solid var(--primary);
}

.group-input textarea {
  display: inline-block;
  padding: 0.65rem 0.8rem;
  outline: none;
  border: 1px solid #000;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: 1px;
  height: 120px;
}

.group-input textarea:focus {
  border: 1px solid var(--primary);
}

/* footer */
footer {
  text-align: center;
  padding: 1rem 0;
  background: var(--primary);
  color: #fff;
}
